body {
    
    background-color: #eee;
    font-family: Arial, sans-serif;
    font-size: 12px;
    width: 550px;
    margin: 10px auto;
                    
}
h3{
    color: red;
    font-size: 15px;
    margin: 8px 0;
}

form {
    background-color: rgb(190, 190, 178);
}
/* for common input */
.common-txt-box{
    display: flex;
    align-items: center;
    text-align: left;
    /* margin-top: 5px; */
    gap: 10px;
    width: 500px;
    height: 18px;
    box-sizing: border-box;
}
.common-txt-box label{
    width: 150px;
    text-align: right;
    font-weight: bold;
    
}
.common-txt-box input{
    padding: 2.5px;
}
 .little-txt-box{
    display: inline;
}
.little-txt-box input{
    width: 30px;
    height: 18px;
    padding: 1px 2px;
    font-size: 10px;
    box-sizing: border-box;
}


/* common radio box */


.common-radio{
    display:inline;
    justify-content:center;
    
}
.common-radio .radio-box{
    display: block;
    justify-content: first baseline;
}

/* common check box */
.common-check-box{
    display: flex;
    align-items:baseline;
}
.common-label{
    width: 150px;
    text-align: right;
    font-weight: bold;
}
.recurring-container{
    display:inline;
    justify-content: center;
    align-items: center;
}
textarea {
    width: 225px;
    height: 55px;
    vertical-align: top;
}
.common-btn{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.common-btn button {

    font-size: 11px;
    padding: 2px 12px;
    margin-top: 5px;
    border-radius:50px;
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    
}